body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff0f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff69b4;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
}

h2 {
    text-align: center;
}

/* PRODUTO */
.produto {
    display: inline-block;
    vertical-align: top;
    background: white;
    padding: 15px;
    margin: 15px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

/* IMAGEM */
.produto img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

/* PREÇO */
.produto strong {
    color: #ff1493;
    font-size: 18px;
}

/* BOTÃO */
button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff1493;
}

/* CARRINHO */
.carrinho {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* LISTA DO CARRINHO */
#lista-carrinho li {
    margin: 10px 0;
}

#lista-carrinho button {
    margin: 0 3px;
    padding: 5px 8px;
    font-size: 12px;
}

/* WHATSAPP FIXO */
.whatsapp-fixo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    font-size: 24px;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.whatsapp-fixo:hover {
    background-color: #1ebe5d;
}
    padding: 5px 8px;
    font-size: 12px;
}
.opcoes-pagamento {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 15px;
}

.pag-item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #eee;
    font-weight: 500;
}

.pag-item:hover {
    border-color: #ff69b4;
}

/* esconder bolinha padrão */
.pag-item input {
    display: none;
}

/* quando selecionado */
.pag-item input:checked + span {
    color: #ff1493;
}
.entrega {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.opcoes-entrega {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 15px 0;
}

.entrega-item {
    background: #fff0f5;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #eee;
}

.entrega-item:hover {
    border-color: #ff69b4;
}

#endereco {
    width: 90%;
    padding: 12px;
    border: 2px solid #ffb6c1;
    border-radius: 8px;
    margin-top: 10px;
}
